.blue-btn{ padding:5px 0; width:130px;}
.gray-btn{ padding:5px 0!important; width:111px; }
.popup input{
	min-width:140px;}
.top_panel .seach-form button{ margin-top:-33px;}
.seach-form .blue-btn { width:50px;}
.filter .panes{ width:456px;}